.box_wrapper {
  position: relative;
  top: 0;
  width: 120px;
  height: 120px;
  border-radius: 15px;
  border: 1px solid #d7d7d7;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin: 15px;
  box-shadow: 0 5px 10px #e2e2e2;
  transition: 0.7s;
}

.box_wrapper:hover {
  border: 1px solid #a0a0a0;
  top: 5px;
  box-shadow: unset;
}

.disabled {
  background-color: #aaa;
  opacity: 0.5;
  cursor: no-drop;
  box-shadow: unset;
}

.disabled:hover {
  top: 0;
}

.box_wrapper img {
  width: 40px;
  height: 40px;
}

.box_wrapper p {
  margin: 0;
  font-size: 0.85rem;
  font-weight: 600;
  color: #111;
}
