.page_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 0 1.8rem;
}

.page_title {
  font-size: 1.45rem;
  font-weight: 700px;
}

.description {
  margin-bottom: 30px;
  font-size: 0.85rem;
  color: #979797;
  font-weight: 600;
}

.inline_inputs {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.inline_buttons {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.leftButton {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.ii_small_input_wrapper {
  width: 48%;
}

.block_inputs {
  width: 100%;
  margin-bottom: 25px;
}

@media screen and (max-width: 800px) {
  .form_wrapper {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 560px) {
  .page_wrapper {
    padding: 0 1.5rem;
  }
  .page_title {
    width: 100%;
    text-align: center;
  }
  .inline_inputs {
    flex-direction: column;
  }
  .ii_small_input_wrapper {
    width: 100%;
  }
  .ii_small_input_wrapper:first-child {
    margin-bottom: 25px;
  }
}
