.button {
  position: relative;
  top: 0;
  width: 120px;
  outline: none;
  padding: 10px 25px;
  text-align: center;
  border-radius: 100px;
  border: 0;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "YekanBakh";
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  white-space: nowrap;
}

.button:hover {
  top: 4px;
}

.b_white_button {
  color: #25b79b;
  background-color: white;
  border: 1px solid #25b79b;
  padding: 10px;
}

.b_green_button {
  color: white;
  background-color: #25b79b;
}

.left_arrow {
  display: flex;
  width: 10px;
  height: 10px;
}

.right_arrow {
  display: flex;
  width: 10px;
  height: 10px;
  transform: rotate(180deg);
}

.left_arrow img,
.right_arrow img {
  width: 100;
  height: auto;
}
