.block_inputs {
  width: 100%;
  position: relative;
}

.input {
  width: 100%;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "YekanBakh";
  color: #222;
  padding: 10px 15px;
  transition: 0.5s;
  outline: none;
}

.ltr {
  direction: ltr;
}

.input:focus {
  border: 1px solid #707070;
  box-shadow: 0 0 4px #e1e1e1;
}

.input::placeholder {
  font-size: 0.85rem;
  font-weight: 500;
  font-family: "YekanBakh";
  color: #cfcfcf;
}

.error {
  font-size: 0.8rem;
  font-weight: 600;
  color: #e63946;
  position: absolute;
  bottom: -20px;
  margin: 0;
  right: 5px;
  white-space: nowrap;
}
.error_star {
  color: #e63946;
  animation: blink linear 1.2s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
