.layout_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 45px;
}

.navbar_title {
  width: fit-content;
  font-size: 1rem;
  font-weight: 600;
  z-index: 2;
}

.navbar_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin-left: 50px;
}

.navbar_item p {
  font-size: 0.85rem;
  font-weight: 500;
}

.navbar_logo,
.iconWrapper {
  width: 18px;
  height: 18px;
  z-index: 2;
  margin: 0 10px;
}

.navbar_logo img,
.iconWrapper img {
  width: 100%;
  height: 100%;
}

.ColorPart {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 400px;
  background-color: #fffbea;
}

.carImageWrapper {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50px;
  width: 55%;
  max-width: 750px;
  min-width: 400px;
}

.carImageWrapper img {
  width: 100%;
  height: auto;
}

.contentChildren {
  width: 48%;
  position: relative;
  right: 70px;
  top: 30px;
  max-width: 600px;
  min-width: 420px;
}

@media screen and (max-width: 800px) {
  .carImageWrapper {
    bottom: 85px;
    left: 70px;
  }
  .ColorPart {
    bottom: 0;
    top: unset;
    right: 0;
    left: 0;
    height: 20%;
  }
  .contentChildren {
    width: 60%;
  }
}

@media screen and (max-width: 560px) {
  .contentChildren {
    width: 100%;
    right: unset;
    min-width: unset;
    top: unset;
  }
  .carImageWrapper {
    min-width: unset;
    width: 80%;
    left: 20px;
    bottom: 40px;
  }
  .navbar_title {
    display: none;
  }
  .ColorPart {
    height: 15%;
  }
}
