.select_box_wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.down_arrow {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
  width: 10px;
  z-index: 5;
  cursor: pointer;
}

.down_arrow img {
  width: 100%;
  height: 100%;
}

.select_box {
  width: 100%;
  text-align: right;
  cursor: pointer;
  position: relative;
  z-index: 3;
  height: 40px;
  padding: 5px 10px;
  display: inline-block;
  border: 1px solid #b1b1b1;
  background: #fff;
  border-radius: 3px;
  outline: none;
  color: #1b1b1b;
  font-size: 0.85rem;
  font-weight: 600;
  font-family: "YekanBakh";
}

.select_box:focus {
  border: 1px solid #707070;
  box-shadow: 0 0 4px #e1e1e1;
}

.option_values_box {
  position: absolute;
  left: 0;
  right: 0;
  max-height: 250px;
  background-color: #ffffff;
  border-radius: 3px;
  top: 40px;
  border: 1px solid #afafaf;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.placeholder {
  color: #afafaf;
  font-weight: 500;
}

.option_values_box::-webkit-scrollbar {
  width: 6px;
}
.option_values_box::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.option_values_box::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180);
  border-radius: 10px;
}
.option_values_box::-webkit-scrollbar-thumb:hover {
  background: rgb(77, 77, 77);
}

.option_value {
  width: 100%;
  text-align: right;
  cursor: pointer;
  color: #1b1b1b;
  height: 40px;
  padding: 5px 15px;
  background-color: #fff;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  transition: 0.4s;
}

.option_value:hover {
  background-color: #f1f1f1;
}

.error {
  font-size: 0.8rem;
  font-weight: 600;
  color: #e63946;
  position: absolute;
  bottom: -20px;
  margin: 0;
  right: 5px;
  white-space: nowrap;
}
.error_star {
  color: #e63946;
  animation: blink linear 1.2s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
