.popup_wrapper {
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: saturate(180%) blur(10px);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 100%;
  opacity: 0;
  transition: 0.5s;
}

.user_list_description {
  /* width: 50%; */
  height: auto;
  padding: 25px 40px;
  box-shadow: 0 0 10px #e1e1e1;
  border-radius: 20px;
  background-color: #fffbea;
  color: #25b79b;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 540px;
  min-width: 360px;
  opacity: 0;
  transition: 1.5s;
  z-index: 21;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.show_popup_wrapper {
  opacity: 1;
  top: 0;
}

.show_user_list_description {
  opacity: 1;
  top: 50%;
  left: 50%;
}
