.list_row {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
}

.list_title {
  font-size: 0.95rem;
  font-weight: 600;
  color: #0f0f0f;
  margin: 0 0 0 10px;
}

.close {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #e63946;
  font-size: 20px;
  border: 2px solid #e63946;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.2s;
  padding-top: 2px;
}
.close:hover {
  transform: translate(-50%, 4px);
}
