html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #fdfdfd;
  font-family: "YekanBakh";
}

#root {
  height: 100%;
  direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "YekanBakh";
  src: local("YekanBakh"),
    url(./static/Fonts/YekanBakh/YekanBakh-Regular/YekanBakh-Regular.ttf)
      format("TrueType");
}
@font-face {
  font-family: "YekanBakhBolf";
  src: local("YekanBakhBolf"),
    url(./static/Fonts/YekanBakh/YekanBakh-Bold/YekanBakh-Bold.ttf)
      format("TrueType");
}
@font-face {
  font-family: "YekanBakhLight";
  src: local("YekanBakhLight"),
    url(./static/Fonts/YekanBakh/YekanBakh-Light/YekanBakh-Light.ttf)
      format("TrueType");
}
@font-face {
  font-family: "YekanBakhHeavy";
  src: local("YekanBakhHeavy"),
    url(./static/Fonts/YekanBakh/YekanBakh-Heavy/YekanBakh-Heavy.ttf)
      format("TrueType");
}
@font-face {
  font-family: "YekanBakhFat";
  src: local("YekanBakhFat"),
    url(./static/Fonts/YekanBakh/YekanBakh-Fat/YekanBakh-Fat.ttf)
      format("TrueType");
}
